<!-- Header -->
<%- include('./partials/header') %>

<!-- Banner -->
<div class='jumbotron jumbotron-fluid banner'>
  <div class='container'>
    <h1><em>Pok&#233-Survey</em> Results</h1>
    <h3>Here are everyone's favorite pok&#233mon!</h3>
  </div>
</div>

<!-- Flash messages -->
<%- include('./partials/flash') %>


<!-- Date of previous vote -->
<% if (previousVote && (previousVote.fingerprint === fingerprint)) { %>
  <div class='container resultsDateContainer'>
    <h4 class='resultsDate d-inline'>You voted on <%= helpers.getDateString(previousVote.date) %> 
      <span class='instructions'>(your results will be in <strong>bold</strong>)</span>
    </h4>
  </div>
<% } %>

<!-- Total Votes Variable -->
<% let totalVotes = helpers.totalVotes(votes); %>

<!-- Pokemon Results -->
<div class='container'>
<% for (let pokemon of pokemonData) { %>
  <div class='container resultsBox'>
    <!-- Pokemon Generation Name -->
    <h4 class='resultsGroupHeader'>
      <span class='container'>
        <%= pokemon.title %>
      </span>
    </h4>
    <div class='row'>
      <div class='col'></div>
      <!-- Pokemon Image A -->
      <div class='col'>
        <img src='<%= pokemon.pokemonA.img %>' alt='<%= pokemon.pokemonA.name %>' class='resultsImg'>
      </div>
      <div class='col-9'>
        <!-- Pokemon A Name and variable -->
        <% let addA = helpers.add(votes, pokemon.formName, pokemon.pokemonA.formValue) %>
        <span class='<% if (previousVote && (pokemon.pokemonA.formValue === previousVote[pokemon.formName])) {%>highlightVote<%}%>'>
          <%= pokemon.pokemonA.name %>: <%= addA %><% if (addA === 1) { %> Vote<% } else { %> Votes<% } %>
        </span>
        <!-- Progress Bar and percentage variable -->
        <% let percentA = helpers.percentageOfVotes(addA, totalVotes) %>
        <div class='progress' style='height: 20px;'>
          <div class='progress-bar' role='progressbar' 
            style='width: <%= percentA %>%;' 
            aria-valuenow='<%= percentA %>' 
            aria-valuemin='0' aria-valuemax='100'>
            <%= percentA %>%
          </div>
        </div>
      </div>
      <div class='col'></div>
    </div>
    <div class='row'>
      <div class='col'></div>
      <!-- Pokemon Image B -->
      <div class='col'>
        <img src='<%= pokemon.pokemonB.img %>' alt='<%= pokemon.pokemonB.name %>' class='resultsImg'>
      </div>
      <div class='col-9'>
        <!-- Pokemon B Name and variable -->
        <% let addB = helpers.add(votes, pokemon.formName, pokemon.pokemonB.formValue) %>
        <span class='<% if (previousVote && (pokemon.pokemonB.formValue === previousVote[pokemon.formName])) {%>highlightVote<%}%>'>
          <%= pokemon.pokemonB.name %>: <%= addB %><% if (addB === 1) { %> Vote<% } else { %> Votes<% } %>
        </span>
        <!-- Progress Bar and percentage variable -->
        <% let percentB = helpers.percentageOfVotes(addB, totalVotes) %>
        <div class='progress' style='height: 20px;'>
          <div class='progress-bar' role='progressbar' 
            style='width: <%= percentB %>%;' 
            aria-valuenow='<%= percentB %>' 
            aria-valuemin='0' aria-valuemax='100'>
            <%= percentB %>%
          </div>
        </div>
      </div>
      <div class='col'></div>
    </div>
    <div class='row'>
      <div class='col'></div>
      <!-- Pokemon Image C -->
      <div class='col'>
        <img src='<%= pokemon.pokemonC.img %>' alt='<%= pokemon.pokemonC.name %>' class='resultsImg'>
      </div>
      <div class='col-9'>
        <!-- Pokemon C Name and variable -->
        <% let addC = helpers.add(votes, pokemon.formName, pokemon.pokemonC.formValue) %>
        <span class='<% if (previousVote && (pokemon.pokemonC.formValue === previousVote[pokemon.formName])) {%>highlightVote<%}%>'>
          <%= pokemon.pokemonC.name %>: <%= addC %><% if (addC === 1) { %> Vote<% } else { %> Votes<% } %>
        </span>
        <!-- Progress Bar and percentage variable -->
        <% let percentC = helpers.percentageOfVotes(addC, totalVotes) %>
        <div class='progress' style='height: 20px;'>
          <div class='progress-bar' role='progressbar' 
            style='width: <%= percentC %>%;'
            aria-valuenow='<%= percentC %>' 
            aria-valuemin='0' aria-valuemax='100'>
            <%= percentC %>%
          </div>
        </div>
      </div>
      <div class='col'></div>
    </div>
  </div>
<% } %>

<!-- Game Results -->
<div class='container resultsBox'>
  <h4 class='container resultsGroupHeader'>The number of people who have played each game</h4>

  <div class='row'>
  <% for (let game of gamesData) { %>
    <div class='col-6'>
      <div class='container'>
        <h5 class='<% if (previousVote && (previousVote.gamesList.indexOf(game.formValue) !== -1)) {%>highlightVote<% } %>'>
          <%= game.gameName %> : <%= helpers.totalGameVotes(votes, game.formValue) %>
        </h5>
      </div>
    </div>
  <% } %>
  </div>
</div>

<!-- Buttons to redirect to the survey page or delete votes -->
<% if (previousVote && (previousVote.fingerprint === fingerprint)) { %>
<div class='d-flex justify-content-end resultsButtonGroup'>
  <a href='/survey'><button class='btn btn-warning btn-lg d-inline'>Update Votes</button></a>
  <form action='/survey?_method=DELETE' method='POST' class='d-inline'>
    <input type='submit' class='btn btn-danger btn-lg d-inline resultsSubmitButton' value='Delete Votes'>
  </form>
</div>
<% } else { %>
  <div class='d-flex justify-content-end resultsButtonGroup'>
    <a href='/survey'><button class='btn btn-success btn-lg d-inline'>Vote Now</button></a>
  </div>
<% } %>

</div>



<!-- Footer -->
<%- include('./partials/footer') %>