<!-- Header -->
<%- include('./partials/header') %>

<div class='jumbotron jumbotron-fluid banner'>
  <div class='container'>
    <h1><em>Pok&#233-Survey</em></h1>
    <h3>Choose your favorite pok&#233mon!</h3>
  </div>
</div>

<!-- Flash messages -->
<%- include('./partials/flash') %>

<!-- Date of previous vote -->
<% if (previousVote && (previousVote.fingerprint === fingerprint)) { %>
  <div class='container surveyDateContainer'>
    <h4 class='surveyResultsDate d-inline'>
      You voted on <%= helpers.getDateString(previousVote.date) %> 
      <span class='instructions'>(you can change or delete your votes)</span>
    </h4>
  </div>
<% } %>

<!-- Start of the survey -->
<form action='/survey' method='POST'>

<div class='container'>
<% for (let pokemon of pokemonData) { %>
  <!-- Pokemon Generation Header -->
  <div class='row'>
    <h4 class='surveyGroupHeader'><%= pokemon.title %> <span class='instructions'>(choose one)</span></h4>
  </div>
  <div class='row pokemonRow'>
    <!-- Pokemon A -->
    <div class='col'>
      <div class='form-check form-check-inline h-100'>
        <label class='form-check-label h-100' for='<%= pokemon.pokemonA.formValue %>'>
          <!-- Card A -->
          <div class='card h-100'>
            <!-- Pokemon Image -->
            <img class='card-img-top' src='<%= pokemon.pokemonA.img %>' alt='<%= pokemon.pokemonA.formValue %>'>
            <div class='card-body'>
              <!-- Pokemon Name -->
              <h5 class='card-title'><%= pokemon.pokemonA.name %></h5>
              <!-- Radio Button -->
              <input class='form-check-input radioInput' type='radio' id='<%= pokemon.pokemonA.formValue %>' name='<%= pokemon.formName %>' value='<%= pokemon.pokemonA.formValue %>' 
                <% if (previousVote && (pokemon.pokemonA.formValue === previousVote[pokemon.formName])) {%>checked<%}%> 
                required
              >
            </div>
          </div>
        </label>
      </div>
    </div>
    <!-- Pokemon B -->
    <div class='col'>
      <div class='form-check form-check-inline h-100'>
        <label class='form-check-label h-100' for='<%= pokemon.pokemonB.formValue %>'>
          <!-- Card B -->
          <div class='card h-100'>
            <!-- Pokemon Image -->
            <img class='card-img-top' src='<%= pokemon.pokemonB.img %>' alt='<%= pokemon.pokemonB.formValue %>'>
            <div class='card-body'>
              <!-- Pokemon Name -->
              <h5 class='card-title'><%= pokemon.pokemonB.name %></h5>
              <!-- Radio Button -->
              <input class='form-check-input radioInput' type='radio' id='<%= pokemon.pokemonB.formValue %>' name='<%= pokemon.formName %>' value='<%= pokemon.pokemonB.formValue %>' 
                <% if (previousVote && (pokemon.pokemonB.formValue === previousVote[pokemon.formName])) {%>checked<%}%>
              >
            </div>
          </div>
        </label>
      </div>
    </div>
    <!-- Pokemon C -->
    <div class='col'>
      <div class='form-check form-check-inline h-100'>
        <label class='form-check-label h-100' for='<%= pokemon.pokemonC.formValue %>'>
          <!-- Card C -->
          <div class='card h-100'>
            <!-- Pokemon Image -->
            <img class='card-img-top' src='<%= pokemon.pokemonC.img %>' alt='<%= pokemon.pokemonC.formValue %>'>
            <div class='card-body'>
              <!-- Pokemon Name -->
              <h5 class='card-title'><%= pokemon.pokemonC.name %></h5>
              <!-- Radio Button -->
              <input class='form-check-input radioInput' type='radio' id='<%= pokemon.pokemonC.formValue %>' name='<%= pokemon.formName %>' value='<%= pokemon.pokemonC.formValue %>' 
                <% if (previousVote && (pokemon.pokemonC.formValue === previousVote[pokemon.formName])) {%>checked<%}%>
              >
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
<% } %>

<!-- List of Games Header -->
<div class='row'>
  <h3 class='surveyGroupHeader'>List of Games <span class='instructions'>(choose any you have played)</span></h3>
</div>

<div class='row games-list'>
<% for (let game of gamesData) { %>
  <!-- Game Name -->
  <div class='col-6'>
    <div class='form-check'>
      <!-- Checkbox -->
      <input class='form-check-input' type='checkbox' name='<%= game.formName %>' value='<%= game.formValue %>' id='<%= game.formValue %>' 
        <% if (previousVote && (previousVote.gamesList.indexOf(game.formValue) !== -1)) {%>checked<% } %>
      >
      <!-- Pokemon Name -->
      <label class='form-check-label' for='<%= game.formValue %>'>
        <%= game.gameName %>
      </label>
    </div>
    </div>
<% } %>
</div>
</div>

  <!-- Submit Buttons -->
  <div class='container'>
    <% if (previousVote && (previousVote.fingerprint === fingerprint)) { %>
      <div class='d-flex justify-content-end'>
        <input type='submit' class='btn btn-warning btn-lg d-inline submitButton' formaction='/survey?_method=PUT' value='Update Votes'>
        <input type='submit' class='btn btn-danger btn-lg d-inline submitButton' formaction='/survey?_method=DELETE' value='Delete Votes'>
      </div>
    <% } else { %>
      <div class='d-flex justify-content-end'>
        <input type='submit' class='btn btn-success btn-lg d-inline submitButton' value='Submit Votes'>
      </div>
    <% } %>
  </div>
</form>

<!-- Scripts for changing class for radio buttons -->
<script src='scripts/domFunctions.js'></script>
<!-- Footer -->
<%- include('./partials/footer') %>